Shakha-Pustika_2
Shakha-Pustika_2/*
shakha-pustika_2-html-only
shakha-pustika_2-html-only/*
/*/build/
/*/bin/
/*/gen/
/*/.idea/*

*.iml
*.class
*.log
*.apk
*.dex


local.properties
Shakha-Pustika_3/build
.idea/workspace.xml

.gradle

.DS_Store
